@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="search_body">
        <p>Let's get a search in here...</p>
        <form asp-controller="search" asp-action="Index" method="post">
            <p>
                <input type="text" name="query" />
                <input type="submit" value="FIND IT NOW" />
            </p>
        </form>
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web crapps with ASP.NET Core</a>.</p>
</div>

