@{
    ViewData["Title"] = "Home Page";
    ViewData["scripts"] = "home.js";
}

<div class="text-center">
    <div id="homeBkg">
<!--        <img id="homeBkgImg" src="~/img/samples/memphis.png" /> -->
    </div>
    <h1 class="display-4">Welcome</h1>
    <div class="search_body">
        <p>Let's get a search in here...</p>
        <form id="mainSearchForm" asp-controller="search" asp-action="Index" method="post">
            <p>
                <input placeholder="Search for @ViewData["QueryExamples"]..." id="mainSearchBox" type="text" name="query" autocomplete="off"/>
                <input id="mainSearchButton" type="submit" value="FIND IT NOW" />
            </p>
        </form>
        <p>Need help? Todo: help</p>
    </div>
</div>

