@{
    ViewData["Title"] = "Home Page";
    ViewData["scripts"] = "home.js";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="search_body">
        <p>Let's get a search in here...</p>
        <form id="mainSearchForm" asp-controller="search" asp-action="Index" method="post">
            <p>
                <input id="mainSearch" type="text" name="query" autocomplete="off"/>
                <input type="submit" value="FIND IT NOW" />
            </p>
        </form>
        <p>Search by name, specialty or (coming soon) ailment.</p>
    </div>
</div>

