@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We don't value patient confidentiality even in the slightest. Honsetly, trading anecdotes about your poor life choices are the only thing that makes these jobs worthwhile.</p>

  <h1 class="text-3xl font-bold underline">
    Hello world!
  </h1>
