@model mci_main.Data.Review

@{
    ViewData["Title"] = "View Review";
}

<h1>Practitioner Review</h1>
<p>@Model.Title</p>
<p>@Model.Comment</p>
<p>Review by: @Model.ReviewerName</p>
<p>Date of Visit: @Model.DateVisited</p>


